# Orchestrator workflow for the dev branch.
# Runs tests on every PR to the dev branch.
name: Check PR Dev Branch

on:
    workflow_dispatch:
    pull_request:
        branches:
            - dev

jobs:
    test_and_coverage:
        uses: ./.github/workflows/test_and_coverage.yml
